<!doctype html>
<html lang="en" class="height--1-1">
  <head>
     <script src="https://cdn.optimizely.com/js/5866210519.js"></script>
     <title>Attic & Button</title>
     <!-- Latest compiled and minified OUI stylesheet -->
     <link rel="stylesheet" href="https://d2uaiq63sgqwfs.cloudfront.net/8.0.0/oui.css">
     <style>
       table, th, td, div {
         padding: 5px;
       }
       button {
         padding: 8px 15px;
       }
     </style>
  </head>
  <body class="background--grey height--1-1">
    <div class="flex flex-justified--center soft-quad--ends soft-double--bottom background--faint">
      <div class="max-width--large text--center text-align--center align--center">
        <img src="images/logo.png" class="width--200 text--center align--middle" align="middle">
        <div align="center" style="margin-top: 20px">
          <h3>This "purchase" event has been tracked! Thanks for checking out our demo app!</h3>
          <a href="/"> Back to Catalog</a>
        </div>
      </div>
    </div>
  </body>
</html>
